name: websitedeploy
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Cache gradle
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('*.gradle.kts') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

#      - name: Read version from gradle.properties
#        id: read_version
#        uses: christian-draeger/read-properties@1.0.1
#        with:
#          path: './gradle.properties'
#          property: 'VERSION_NAME'

      - name: Find Last Release
        id: last_release
        uses: InsonusK/get-latest-release@v1.0.1
        with:
          myToken: ${{ github.token }}
          view_top: 1

      - name: Echo Last Release
        run: echo ${{ steps.last_release.outputs.tag_name }}

      - name: Find and Replace Version
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: "{{VERSION_NAME}}"
          replace: ${{ steps.last_release.outputs.tag_name }}
          regex: false

      - name: Find Workflow Release
        id: workflowrelease
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          owner: touchlab
          repo: KMMBridgeGithubWorkflow
          excludes: prerelease, draft

      - name: Echo Last Workflow Release
        run: echo ${{ steps.workflowrelease.outputs.release }}

      - name: Find and Replace Workflow Version
        uses: jacobtomlinson/gha-find-replace@v2
        with:
          find: "{{WORKFLOW_VERSION_NAME}}"
          replace: ${{ steps.workflowrelease.outputs.release }}
          regex: false

      - name: Publish website
        run: |
          git config --global user.email "kgalligan@gmail.com"
          git config --global user.name "Kevin Galligan"
          cd website
          npm install
          GIT_USER=ciuser GIT_PASS=${{ secrets.GITHUB_TOKEN }} yarn deploy

env:
  GRADLE_OPTS: -Dkotlin.incremental=false -Dorg.gradle.jvmargs="-Xmx3g -XX:MaxPermSize=2048m -XX:+HeapDumpOnOutOfMemoryError -Dfile.encoding=UTF-8 -XX:MaxMetaspaceSize=512m"
